blobconverter~=1.4
cyclopts~=4.2
faster-coco-eval~=1.7
grad-cam~=1.5
lightning~=2.5
luxonis-ml[data,tracker,s3,gcs,roboflow]==0.8.0
mlflow~=3.6
onnxruntime~=1.23
onnxscript~=0.5
onnxsim~=0.4
onnx~=1.19
optuna-integration~=4.6
optuna~=4.6
psutil~=7.1
pynvim~=0.6
pytorch_metric_learning~=2.9
seaborn~=0.13
semver~=3.0
tabulate~=0.9
tensorboard~=2.20
termcolor~=3.2
torchmetrics~=1.8
torchvision~=0.24
