
model:
  name: resnet50_classification
  nodes:
    - name: ResNet
      params:
        variant: "50"
        download_weights: True

    - name: ClassificationHead
      inputs:
        - ResNet

  losses:
    - name: CrossEntropyLoss
      attached_to: ClassificationHead

  metrics:
    - name: Accuracy
      is_main_metric: true
      attached_to: ClassificationHead

  visualizers:
    - name: ClassificationVisualizer
      attached_to: ClassificationHead
      params:
        font_scale: 0.5
        color: [255, 0, 0]
        thickness: 2
        include_plot: True

dataset:
  params:
    dataset_name: cifar10_test

trainer:
  batch_size: 4
  epochs: &epochs 200
  num_workers: 4
  validation_interval: 10
  num_log_images: 8

  preprocessing:
    train_image_size: [&height 224, &width 224]
    keep_aspect_ratio: False
    normalize:
      active: True

  callbacks:
    - name: ExportOnTrainEnd
    - name: TestOnTrainEnd

  optimizer:
    name: SGD
    params:
      lr: 0.02

  scheduler:
    name: ConstantLR
